*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: rgb(12, 12, 12);
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 90px;
}

 

.App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-height: 100vh; */
  height: 300px;
  width: 450px;
  color: aliceblue;
  background: rgb(145, 142, 142);
border-radius: 16px;
}

.App:hover{
  background: rgb(110, 109, 109);
  width: 480px;
  
}
.heading{
  color: white;
  margin-left: 65px;
   font-size: 28px;
}

.heading:hover{
  margin-bottom: 30px;
  color: rgb(202, 25, 25);
  font-weight: 600;
  font-size: 29px;
}

button {
  color: #0e0d0d;
  padding: 5px 20px;
  margin: 10px;
  width: 220px;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: #f09f9f;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: #f36161;
  font-weight: 530;
  font-size: 16px;
}